@{
    ViewBag.Title = "ApplicationForm";
}


 <table id="application" runat="server" width="810" height="70" border="0" align="center" cellpadding="0" cellspacing="0"  style="background-color:#fff">
            <tr>
                <td style="width:448px; text-align :center; font-size:14px ">
                    <b>APPLICATION for Quotation for ISO Certification <br>(All Standards)</b>
                 </td>
           

             </tr>
        </table>
 <table id="section1" runat="server" width="810" height="70" border="0" align="center" cellpadding="0" cellspacing="0"  style="background-color:#fff">
            <tr>
         
  
              <td>
                    <table style="width:720px;border:1px solid; margin-left:45px">
                   <tr><td style="font-size:11px">*Which Standard(s) are you interested in (Please Tick all that apply)</td></tr>
                   <tr>
                       <td style="font-size:13px "><input type="checkbox" name="vehicle" value="1"><b>ISO 9001:2015</b>
                           <input type="checkbox" name="vehicle" value="2"><b>ISO 14001:2015</b>
                           <input type="checkbox" name="vehicle" value="3"><b>BS OHSAS18001:2007</b>
                           <input type="checkbox" name="vehicle" value="4"><b>ISO 27001:2013</b><br>
                           <input type="checkbox" name="vehicle" value="5"><b>ISO 22301:2012</b> <br>
                           <input type="checkbox" name="vehicle" value="6"><b>OTHER(Please state)</b> <input type="text" size="70" >
                       </td>
                    </table>
             </td>
           
             </tr>
           

        </table>


      <table id="section2Name" runat="server" width="810" height="70" border="0" align="center" cellpadding="0" cellspacing="0"  style="background-color:#fff">
               
           <tr> <td style="width:448px; text-align :center; font-size:12px ">
                    <b>General Information (Please complete this section)</b>
                 </td>
           

             </tr>
          </table>
 <table id="section2" runat="server" width="810" height="70" border="0" align="center" cellpadding="0" cellspacing="0"  style="background-color:#fff">
            <tr>
         
  
              <td>
                    <table style="width:720px;border:1px solid; margin-left:45px">

                
                   <tr><td style="width:200px; background-color:#dbd8d8"><b>*Company Name</b></td><td>@Html.TextBox("id","", new { maxlength = 50, size=70 } )</td></tr>
                   <tr><td style="width:200px; background-color:#dbd8d8"><b>*Address (Head Office)</b></td><td>@Html.TextBox("id","", new { maxlength = 50, size=70 } )</td></tr>
                   <tr><td style="width:200px; background-color:#dbd8d8"><b>*Place</b></td><td>@Html.TextBox("id","", new { maxlength = 50, size=70 } )</td></tr>
                   <tr><td style="width:200px; background-color:#dbd8d8"><b>*Telephone</b></td><td>@Html.TextBox("id","", new { maxlength = 50, size=70 } )</td></tr>
                   <tr><td style="width:200px; background-color:#dbd8d8"><b>*Email</b></td><td>@Html.TextBox("id","", new { maxlength = 50, size=70 } )</td></tr>
                   <tr><td style="width:200px; background-color:#dbd8d8"><b>Company Website</b></td><td>@Html.TextBox("id","", new { maxlength = 50, size=70 } )</td></tr>
       
                       </table>   

                    <table style="width:720px;border:1px solid; margin-left:45px">
                    <tr>


                       <td style="width:400px; background-color:#dbd8d8"><b>Primary Contact for Audit Purposes</b>@Html.TextBox("id","", new { maxlength = 50, size=35 } )</td>

                       <td style="width:400px; background-color:#dbd8d8" ><b>Telephone &nbsp; &nbsp; &nbsp; </b>@Html.TextBox("id","", new { maxlength = 50, size=35 } )</td>
                   </tr>

                  <tr>
                       <td style="width:400px; background-color:#dbd8d8"><b>Nature of Business</b>@Html.TextArea("id","", 3, 50,new { @id = "Comment_", @title = "Comment" } )</td>

                       <td style="width:400px; background-color:#dbd8d8" ><b>Number of years at this site</b>@Html.TextBox("id","", new { maxlength = 50, size=35 } )</td>
                   </tr>
                   </table>

                  <table style="width:720px;border:1px solid; margin-left:45px">

                   <tr><td style="width:500px; background-color:#dbd8d8"><b>Principle Services or Products provided by the Company</b></td><td>@Html.TextBox("id","", new { maxlength = 50, size=50 } )</td></tr>
 
                  </table>   
                  <table style="width:720px;border:1px solid; margin-left:45px">

                   <tr><td style="width:600px; background-color:#dbd8d8"><b>Does your company conduct any activities on Clients' sites (if YES please list activity)</b>
                   <input type="checkbox" name="vehicle" value="1"><b>YES</b>
                        <input type="checkbox" name="vehicle" value="1"><b>NO</b></td>
                    <td>@Html.TextArea("id","", 4, 63,new { @id = "Comment_", @title = "Comment" } )</td></tr>


 
                  </table>  
                   
                  <table style="width:720px;border:1px solid; margin-left:45px"> 

                   <tr><td style="width:400px; background-color:#dbd8d8"><b>Name of Present Certification Body (if any)</b></td><td>@Html.TextBox("id","", new { maxlength = 50, size=60 } )</td></tr>
                   <tr><td style="width:400px; background-color:#dbd8d8"><b>Certificate Expiry Date(s)</b></td><td>@Html.TextBox("id","", new { maxlength = 50, size=60 } )</td></tr>
                   <tr><td style="width:400px; background-color:#dbd8d8"><b>Total Number of Employees</b></td><td>@Html.TextBox("id","", new { maxlength = 50, size=60 } )</td></tr>
                   <tr><td style="width:400px; background-color:#dbd8d8"><b>Total Number of Company Directors</b></td><td>@Html.TextBox("id","", new { maxlength = 50, size=60 } )</td></tr>
                
                  </table>
        
                     </td>
           </tr>
             

                    </table>
                 <table id="section3Name" runat="server" width="810" height="30" border="0" align="center" cellpadding="0" cellspacing="0"  style="background-color:#fff">
               

           <tr> <td >
                  
                  <table style="width:720px; margin-left:45px; background-color:#dbd8d8; text-align:center"> 
                    <tr>
                        <td>
                      <b>Multi-Site Operations</b>
                       </td>
                            </tr>  
                  </table > 
                 </td>
           

             </tr>
          </table>
       <table id="section3" runat="server" width="810" height="70" border="0" align="center" cellpadding="0" cellspacing="0"  style="background-color:#fff">
            <tr>
         
  
              <td>
                  <table style="width:720px;border:1px solid; margin-left:45px">
                   <tr><td style="width:400px; background-color:#dbd8d8"><b>Number of Locations  &nbsp;</b>@Html.TextBox("id","", new { maxlength = 50, size=74 } )</td></tr>
               <tr><td style="width:400px; background-color:#dbd8d8; text-align:center"><b>Please list all Sites/ Main Activities at each Site</b>@Html.TextArea("id","",8, 95,new { @id = "Comment_", @title = "Comment" } )</td></tr>
                       </table>
     
                     
                     </td>
           </tr>
             

                    </table>
           
 <table id="section4Name" runat="server" width="810" height="70" border="0" align="center" cellpadding="0" cellspacing="0"  style="background-color:#fff">
               
           <tr> <td style="width:448px; text-align :center; font-size:12px ">
                    <b>Company Employees (Breakdown)</b>
                 </td>
           

             </tr>
          </table>
 <table id="section4" runat="server" width="810" height="70" border="0" align="center" cellpadding="0" cellspacing="0"  style="background-color:#fff">
            <tr>
         
  
              <td>
                    <table style="width:720px;border:1px solid; margin-left:45px">
                   <tr><td style="width:400px; background-color:#a79c9c"><b>Category/Description Department</b></td><td style="width:100px; text-align:center; background-color:#a79c9c"><b>Total Permanent</b></><td style="width:100px; text-align:center;  background-color:#a79c9c"><b>Total Temporary</b></td></tr>
                   <tr><td style="width:400px; background-color:#dbd8d8"><b>&bull; &nbsp; Sales</b></td><td>@Html.TextBox("id","", new { maxlength = 50, size=20 } )</td><td>@Html.TextBox("id","", new { maxlength = 50, size=20 } )</td></tr>
                   <tr><td style="width:400px; background-color:#dbd8d8"><b>&bull; &nbsp;Marketing</b></td><td>@Html.TextBox("id","", new { maxlength = 50, size=20 } )</td><td>@Html.TextBox("id","", new { maxlength = 50, size=20 } )</td></tr>
                   <tr><td style="width:400px; background-color:#dbd8d8"><b>&bull; &nbsp;Administration</b></td><td>@Html.TextBox("id","", new { maxlength = 50, size=20 } )</td><td>@Html.TextBox("id","", new { maxlength = 50, size=20 } )</td></tr>
                   <tr><td style="width:400px; background-color:#dbd8d8"><b>&bull; &nbsp;Design</b></td><td>@Html.TextBox("id","", new { maxlength = 50, size=20 } )</td><td>@Html.TextBox("id","", new { maxlength = 50, size=20 } )</td></tr>
                   <tr><td style="width:400px; background-color:#dbd8d8"><b>&bull; &nbsp;Manufacturing</b></td><td>@Html.TextBox("id","", new { maxlength = 50, size=20 } )</td><td>@Html.TextBox("id","", new { maxlength = 50, size=20 } )</td></tr>
                   <tr><td style="width:400px; background-color:#dbd8d8"><b>&bull; &nbsp;Other</b></td><td><input type="text" size="20"><td>@Html.TextBox("id","", new { maxlength = 50, size=20 } )</td></tr>
                   <tr><td style="width:400px; text-align:right"><b>Total</b></td><td>@Html.TextBox("id","", new { maxlength = 50, size=20 } )<td>@Html.TextBox("id","", new { maxlength = 50, size=20 } )</td></tr>

      
                    
                  </table>
                     
                     </td>
           </tr>
             

                    </table>


 



 <table id="section5" runat="server" width="810" height="70" border="0" align="center" cellpadding="0" cellspacing="0"  style="background-color:#fff">
            <tr>
         
  
              <td>
                    <table style="width:720px;border:1px solid; margin-left:45px">
                   <tr><td style="width:400px;"><b>Applicant</b></td><td>@Html.TextBox("id","", new { maxlength = 50, size=70 } )<td></tr>
                  
                    
                  </table>
                     
                     </td>
           </tr>
             

                    </table>
           
           
   