@model DAS.Backoffice.Models.News.ArchiveYearModel
@Html.HiddenFor( model => model.Year, new { id = "year" })

<table>
    <tr>
        <td>@Html.PTPLabel("News","lblYear"):</td><td> @Html.DropDownListFor(model=>model.Year, new SelectList(Enumerable.Range(DateTime.Now.Year-1, 2).ToList()), "--"+Html.PTPLabel("News","lblSelYear")+"--")</td> 
   </tr>
    <tr> <td> </td> <td> </td></tr>
   <tr>
          
           <td> </td>
       <td>@Html.SKFButtonPrimary(ButtonType.BUTTON, @Html.PTPLabel("News","ToArchive"), new Dictionary<string, string>() { { "onclick", "addToArchive('" + Url.Action("ArchiveNews", "Home") + "'); return false;" } })</td> 
   </tr>
</table>
