@model DAS.UI.Models.Application.ApplicationForm

@{
    ViewBag.Title = Html.PTPLabel("Home", "lblApplication");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    var lastNumber = 3;
    var categories = new Array();
    for (var j = 0; j <= lastNumber; j++) {

        category = $("#category_" + j).val();
        totalPermanent = $("#totalPermanent_" + j).val();
        totalTemporary = $("#totalTemporary_" + j).val();

        var categoryO = new Object({ category: category, totalPermanent: totalPermanent, totalTemporary: totalTemporary });

        categories.push(categoryO);

    }

    var lenth = 0;
    var locAct = new Array();

    for (var k = 0; k <= lenth; k++) {

        loc = $("#location_" + k).val();
        act = $("#activity_" + k).val();


        var locActO = new Object({ loc: loc, act: act });
        locAct.push(locActO);
    }



    function submitApplicationForm() {

        var $form = $('#form-application');

        if ($form.valid()) {
            showProgressIndicator('form-application');

            var categories = new Array();
            for (var i = 0; i <= lastNumber; i++) {
                var c = {};
                c.category = $('#category_' + i).val();
                c.TotalPermanent = $('#totalPermanent_' + i).val();
                c.TotalTemporary = $('#totalTemporary_' + i).val();

                categories.push(c);
            }

            var locAct = new Array();
            for (var i = 0; i <= lenth; i++) {
                var al = {};
                al.location = $("#location_" + i).val();
                al.activity = $("#activity_" + i).val();

                locAct.push(al);
            }

            var model = $form.serializeObject();
            model.NatureOfBusiness = $("#NatureOfBusiness").val();
            model.ActivitiesOnClientsSites = $("#ActivitiesOnClientsSites").val();

            $.ajax({
                contentType: 'application/json; charset=utf-8',
                url: '@(Url.Action("SubmitApplication","Home"))',
        type: "POST",
        data: JSON.stringify({ locAct: locAct, categories: categories, model: model }),
        success: function (result) {
            hideProgressIndicator();
            if (result.status == 1) {
                showAlert('', result.data);
            } else {
                showAlert('', result.data);

            }
        },
        error: function () {
            hideProgressIndicator();
            showAlert('', 'Error');
        }
            });

}
else showErrorTooltip($form);
}
</script>


@using (Html.BeginForm("SubmitApplication", "Home", FormMethod.Post, new { id = "form-application" })) {
    @Html.HiddenFor(mod => mod.LanguageId)
 <table id="application" runat="server" width="810" height="70" border="0" align="center" cellpadding="0" cellspacing="0"  style="background-color:#fff">
            <tr>
                <td style="width:448px; text-align :center; font-size:14px ">
                    <b>@Html.PTPLabel("ApplicationForm", "lblHeader1")</b>
                 </td>
           

             </tr>
        <tr>
                <td style="width:448px; text-align :center; font-size:12px ">
                    <b>@Html.PTPLabel("ApplicationForm", "lblHeader2")</b>
                 </td>
           

             </tr>

        </table>
 <table id="section1" runat="server" width="810" height="70" border="0" align="center" cellpadding="0" cellspacing="0"  style="background-color:#fff">
            <tr>
         
  
              <td>
                    <table style="width:720px;border:1px solid; margin-left:45px">
                   <tr><td style="font-size:11px">@Html.PTPLabel("ApplicationForm", "lblQuestion")</td></tr>
                   <tr>
                       <td style="font-size:13px ">@Html.CheckBoxFor(m => m.ISO9001, new Dictionary<string, object>() { { "id", "ISO9001" } })<b>@Html.PTPLabel("ApplicationForm", "ISO1")</b>
                           @Html.CheckBoxFor(m => m.ISO22301, new Dictionary<string, object>() { { "id", "ISO22301" } })<b>@Html.PTPLabel("ApplicationForm", "ISO5")</b> 
                           @Html.CheckBoxFor(m => m.ISO14001, new Dictionary<string, object>() { { "id", "ISO14001" } })<b>@Html.PTPLabel("ApplicationForm", "ISO2")</b>
                           @Html.CheckBoxFor(m => m.BSOHSAS18001, new Dictionary<string, object>() { { "id", "BSOHSAS18001" } })<b>@Html.PTPLabel("ApplicationForm", "ISO3")</b><br>              
                           @Html.CheckBoxFor(m => m.ISO27001, new Dictionary<string, object>() { { "id", "ISO27001" } })<b>@Html.PTPLabel("ApplicationForm", "ISO4")</b>
                           @Html.CheckBoxFor(m => m.OtherIso, new Dictionary<string, object>() { { "id", "OtherIso" } })<b>@Html.PTPLabel("ApplicationForm", "ISOOther")</b> @Html.SKFTextBoxFor(TextBoxType.TEXT, m=>m.Other, new Dictionary<string, object>() { { "style", "width:300px"}})
                       </td>
                    </table>
             </td>
           
             </tr>
           

        </table>


      <table id="section2Name" runat="server" width="810" height="40" border="0" align="center" cellpadding="0" cellspacing="0"  style="background-color:#fff">
               
           <tr> <td style="width:448px; text-align :center; font-size:12px ">
                    <b>@Html.PTPLabel("ApplicationForm", "GeneralInformation")</b>
                 </td>
           

             </tr>
          </table>
 <table id="section2" runat="server" width="810" height="70" border="0" align="center" cellpadding="0" cellspacing="0"  style="background-color:#fff">
            <tr>
         
  
              <td>
                    <table style="width:720px;border:1px solid; margin-left:45px">

                
               
                   <tr><td style="width:200px; background-color:#dbd8d8"><b>@Html.PTPLabel("ApplicationForm", "CompanyName")</b></td><td>@Html.SKFTextBoxFor(TextBoxType.TEXT, m=>m.CompanyName, new Dictionary<string, object>() { { "style", "width:500px"},{ "id", "CompanyName" } })</td></tr>
                   <tr><td style="width:200px; background-color:#dbd8d8"><b>@Html.PTPLabel("ApplicationForm", "Adress")</b></td><td>@Html.SKFTextBoxFor(TextBoxType.TEXT, m=>m.Adress, new Dictionary<string, object>() { { "style", "width:500px"},{ "id", "Adress" }})</td></tr>
@*                 <tr><td style="width:200px; background-color:#dbd8d8"><b>@Html.PTPLabel("ApplicationForm", "Place")</b></td><td>@Html.SKFTextBoxFor(TextBoxType.TEXT, m=>m.Place, new Dictionary<string, object>() { { "style", "width:500px"},{ "id", "Place" }})</td></tr>*@
                   <tr><td style="width:200px; background-color:#dbd8d8"><b>@Html.PTPLabel("ApplicationForm", "Telephone")</b></td><td>@Html.SKFTextBoxFor(TextBoxType.TEXT, m=>m.Telephone, new Dictionary<string, object>() { { "style", "width:500px"},{ "id", "Telephone" }})</td>
                   <tr><td style="width:200px; background-color:#dbd8d8"><b>@Html.PTPLabel("ApplicationForm", "Extension")</b></td><td>@Html.SKFTextBoxFor(TextBoxType.TEXT, m=>m.Extension, new Dictionary<string, object>() { { "style", "width:500px"},{ "id", "Extension" }})</td></tr>
                   <tr><td style="width:200px; background-color:#dbd8d8"><b>@Html.PTPLabel("ApplicationForm", "Email")</b></td><td>@Html.SKFTextBoxFor(TextBoxType.TEXT, m=>m.Email, new Dictionary<string, object>() { { "style", "width:500px"},{ "id", "Email" } })</td>   
</tr>
                   <tr><td style="width:200px; background-color:#dbd8d8"><b>@Html.PTPLabel("ApplicationForm", "CompanyWebsite")</b></td><td>@Html.SKFTextBoxFor(TextBoxType.TEXT, m=>m.CompanyWebsite, new Dictionary<string, object>() { { "style", "width:500px"},{ "id", "CompanyWebsite" }})</td></tr>
            
                       </table>   

                    <table style="width:720px;border:1px solid; margin-left:45px">
                    <tr>

                        <td style="width:400px; background-color:#dbd8d8"><b>@Html.PTPLabel("ApplicationForm", "ManagementRepresentativeName")</b>@Html.SKFTextBoxFor(TextBoxType.TEXT, m=>m.ManagementRepresentativeName, new Dictionary<string, object>() { { "style", "width:300px"}})</td>

                        <td style="width:400px; background-color:#dbd8d8" ><b>@Html.PTPLabel("ApplicationForm", "JobTitle")&nbsp;&nbsp;&nbsp; </b>@Html.SKFTextBoxFor(TextBoxType.TEXT, m=>m.JobTitle, new Dictionary<string, object>() { { "style", "width:300px"}})</td>
                  </tr>   
                  <tr>       
                        <td style="width:400px; background-color:#dbd8d8"><b>@Html.PTPLabel("ApplicationForm", "PrimaryContact")</b>@Html.SKFTextBoxFor(TextBoxType.TEXT, m=>m.PrimaryContactForAuditPurposes, new Dictionary<string, object>() { { "style", "width:300px"}})</td>

                       <td style="width:400px; background-color:#dbd8d8" ><b>@Html.PTPLabel("ApplicationForm", "Telephone2") &nbsp;&nbsp;&nbsp; </b>@Html.SKFTextBoxFor(TextBoxType.TEXT, m=>m.PrimaryContactTelephone, new Dictionary<string, object>() { { "style", "width:300px"}})</td>
                   </tr>
                   <tr>       
                        <td style="width:400px; background-color:#dbd8d8"><b>@Html.PTPLabel("ApplicationForm", "NameOfConsultant")</b>@Html.SKFTextBoxFor(TextBoxType.TEXT, m=>m.NameOfConsultant, new Dictionary<string, object>() { { "style", "width:300px"}})</td>

                       <td style="width:400px; background-color:#dbd8d8" ><b>@Html.PTPLabel("ApplicationForm", "Telephone2") &nbsp;&nbsp;&nbsp; </b>@Html.SKFTextBoxFor(TextBoxType.TEXT, m=>m.ConsultantTelephone, new Dictionary<string, object>() { { "style", "width:300px"}})</td>
                   </tr>

                  <tr>
                       <td style="width:400px; background-color:#dbd8d8"><b>@Html.PTPLabel("ApplicationForm", "NatureofBusiness") &nbsp;&nbsp;</b>@Html.SKFTextAreaFor(m => m.NatureOfBusiness, 45, 4 , new Dictionary<string, object>() { { "id", "NatureOfBusiness"} })</td>
                                                                                                                                                       


                       <td style="width:400px; background-color:#dbd8d8" ><b>@Html.PTPLabel("ApplicationForm", "NumberOfYears")</b>@Html.SKFTextBoxFor(TextBoxType.TEXT, m=>m.NumberOfYearsAtThisSite, new Dictionary<string, object>() { { "style", "width:300px"}})</td>
                   </tr>
                   </table>

                    
                  <table style="width:720px;border:1px solid; margin-left:45px">

                   <tr><td style="width:600px; background-color:#dbd8d8"><b>@Html.PTPLabel("ApplicationForm", "lblActivities")</b><br>
                   <input type="radio" onclick="javascript: yesnoCheck();" name="yesno" id="yesCheck"/><b>@Html.PTPLabel("ApplicationForm", "Yes")</b>
                        
                      <input type="radio" onclick="javascript: yesnoCheck();" name="yesno" id="noCheck"/><b>@Html.PTPLabel("ApplicationForm", "No")</b></td></tr>

                          <tr id="ifYes"  style="display:none">  <td>@Html.SKFTextAreaFor(m => m.ActivitiesOnClientsSites, 96, 5 , new Dictionary<string, object>() { { "id", "ActivitiesOnClientsSites" } })</td></tr>

 

                  </table>  

                  <table style="width:720px;border:1px solid; margin-left:45px">

                   <tr><td style="width:420px; background-color:#dbd8d8"><b>@Html.PTPLabel("ApplicationForm", "ManagementSystems")</b></td>
                       <td style="font-size:13px ">@Html.CheckBoxFor(m => m.ISO9001_2, new Dictionary<string, object>() { { "id", "ISO9001_2" } })<b>@Html.PTPLabel("ApplicationForm", "ISO1")</b><br>
                           @Html.CheckBoxFor(m => m.ISO22301_2, new Dictionary<string, object>() { { "id", "ISO22301_2" } })<b>@Html.PTPLabel("ApplicationForm", "ISO5")</b> <br>
                           @Html.CheckBoxFor(m => m.ISO14001_2, new Dictionary<string, object>() { { "id", "ISO14001_2" } })<b>@Html.PTPLabel("ApplicationForm", "ISO2")</b><br>
                           @Html.CheckBoxFor(m => m.BSOHSAS18001_2, new Dictionary<string, object>() { { "id", "BSOHSAS18001_2" } })<b>@Html.PTPLabel("ApplicationForm", "ISO3")</b><br>
                           @Html.CheckBoxFor(m => m.ISO27001_2, new Dictionary<string, object>() { { "id", "ISO27001_2" } })<b>@Html.PTPLabel("ApplicationForm", "ISO4")</b><br>
                           @Html.CheckBoxFor(m => m.OtherIso_2, new Dictionary<string, object>() { { "id", "OtherIso_2" } })<b>@Html.PTPLabel("ApplicationForm", "ISOOther")</b><br>
                           @Html.SKFTextBoxFor(TextBoxType.TEXT, m=>m.Other_2, new Dictionary<string, object>() {{ "id", "Other_2" }, { "style", "width:300px"}})
                       </td>

            </tr>
                  </table> 

                  <tr> 
                      <td >
                  
                  <table style="width:720px; margin-left:45px; background-color:#dbd8d8; text-align:center"> 
                    <tr>
                        <td>
                      <b>@Html.PTPLabel("ApplicationForm", "Transfer")</b>
                       </td>
                            </tr>  
                  </table > 
                 </td>
                      </tr>
              
                      <tr> 
                      <td >
                  <table style="width:720px;border:1px solid; margin-left:45px"> 
                   <tr><td style="width:400px; background-color:#dbd8d8"><b>@Html.PTPLabel("ApplicationForm", "Standard(s)")</b></td><td>@Html.SKFTextBoxFor(TextBoxType.TEXT, m=>m.StandardTransferred, new Dictionary<string, object>() { { "style", "width:400px"}})</td></tr>
                   <tr><td style="width:400px; background-color:#dbd8d8"><b>@Html.PTPLabel("ApplicationForm", "NameofPresentCertificationBody")</b></td><td>@Html.SKFTextBoxFor(TextBoxType.TEXT, m=>m.NameOfPresentCertificationBody, new Dictionary<string, object>() { { "style", "width:400px"}})</td></tr>
                   <tr><td style="width:400px; background-color:#dbd8d8"><b>@Html.PTPLabel("ApplicationForm", "CertificateExpiryDate(s)")</b></td><td>@Html.SKFTextBoxFor(TextBoxType.TEXT, m=>m.CertificateExpiryDate, new Dictionary<string, object>() { { "style", "width:400px"}})</td></tr>
                   <tr><td style="width:400px; background-color:#dbd8d8"><b>@Html.PTPLabel("ApplicationForm", "DateNextCertificationBody ") </b></td><td>@Html.SKFTextBoxFor(TextBoxType.TEXT, m=>m.DateNextCertificationBodyVisit, new Dictionary<string, object>() { { "style", "width:400px"}})</td></tr>
                  </table>
                  <table style="width:720px; margin-left:45px;background-color:#dbd8d8"> 
                    <tr><td><b>@Html.PTPLabel("ApplicationForm", "PleaseSend")</b></td></tr>
                  </table>
                     </td>
           </tr>
             

                    </table>
                 <table id="section3Name" runat="server" width="810" height="30" border="0" align="center" cellpadding="0" cellspacing="0"  style="background-color:#fff">
               

           <tr> <td >
                  
                  <table style="width:720px; margin-left:45px; background-color:#dbd8d8; text-align:center"> 
                    <tr>
                        <td>
                      <b>@Html.PTPLabel("ApplicationForm", "MultiSite")</b>
                       </td>
                            </tr>  
                  </table > 
                 </td>
           

             </tr>
          </table>
       <table id="section3" runat="server" width="810" height="70" border="0" align="center" cellpadding="0" cellspacing="0"  style="background-color:#fff">
       <tr>
  
              <td>
                  <table style="width:720px;border:1px solid; margin-left:45px">
                   <tr><td style="width:400px; background-color:#dbd8d8"><b>@Html.PTPLabel("ApplicationForm", "NumberofLocations")  &nbsp;</b>@Html.SKFTextBoxFor(TextBoxType.TEXT, m=>m.NumberOfLocations, new Dictionary<string, object>() { { "style", "width:530px"}})</td></tr>
            
                       </table> 

              </td>
           </tr>
            <tr>           
                <td> 
      <table style="width:720px;border:1px solid; margin-left:45px">      
             <tr><td style="width:400px; background-color:#dbd8d8">
                 <b>@Html.PTPLabel("ApplicationForm", "lblAllSites")</b> </td></tr> 


      </table>  </td></tr>
          <tr>
      <td colspan="2"><div id="divLocationActivites">@Html.Partial("ApplicationLocationActivities", Model.locationActivities)</div></td>
    
        
                  </tr>
              <tr>
     <td>
     <table style="width:720px;border:0px solid; margin-left:45px ">
     <tr>
         <td>
       <a href="#" onclick="addAppLocActPopup('@(Url.Action("AddLocationActivityEditor", "Home"))');"> <img src="../Content/Images/nav/plus.png" ></a><b>@Html.PTPLabel("ApplicationForm", "Add")</b>
   </td>
             </tr> 

         </table>
     </td>
 
    </tr>
                       </table>
             
        

               
           
 <table id="section4Name" runat="server" width="810" height="40" border="0" align="center" cellpadding="0" cellspacing="0"  style="background-color:#fff">
               
           <tr> <td style="width:448px; text-align :center; font-size:12px ">
                    <b>@Html.PTPLabel("ApplicationForm", "CompanyEmployees")  </b>
                 </td>
           

             </tr>
          </table>
 <table id="section4" runat="server" width="810" height="70" border="0" align="center" cellpadding="0" cellspacing="0"  style="background-color:#fff">
         @*   <tr>
         

              <td>
                    
         <table style="width:720px;border:1px solid; margin-left:45px">
                   <tr><td style="width:400px; background-color:#a79c9c"><b>@Html.PTPLabel("ApplicationForm", "CompanyEmployees")</b></td><td style="width:100px; text-align:center; background-color:#a79c9c"><b>@Html.PTPLabel("ApplicationForm", "TotalPermanent")</b></td><td style="width:100px; text-align:center;  background-color:#a79c9c"><b>@Html.PTPLabel("ApplicationForm", "TotalTemporary")</b></td></tr>
                   <tr><td style="width:400px; background-color:#dbd8d8"><b>&bull; &nbsp;@Html.PTPLabel("ApplicationForm", "Sales")</b></td><td>@Html.SKFTextBoxFor(TextBoxType.TEXT, m=>m.SalesTotalPermanent, new Dictionary<string, object>() { {"onfocusout",  "sumTotalP()"},{ "style", "width:160px"},{ "id", "sum1" },{ "name", "sum1"}})</td><td>@Html.SKFTextBoxFor(TextBoxType.TEXT, m=>m.SalesTotalTemporary, new Dictionary<string, object>() {{"onfocusout",  "sumTotalT()"}, { "style", "width:160px"},{ "id", "sum11" }})</td></tr>
                   <tr><td style="width:400px; background-color:#dbd8d8"><b>&bull; &nbsp;@Html.PTPLabel("ApplicationForm", "Marketing")</b></td><td>@Html.SKFTextBoxFor(TextBoxType.TEXT, m=>m.MarketingTotalPermanent, new Dictionary<string, object>() {{"onfocusout",  "sumTotalP()"},{ "style", "width:160px"},{ "id", "sum2" },{ "name", "sum2"}})</td><td>@Html.SKFTextBoxFor(TextBoxType.TEXT, m=>m.MarketingTotalTemporary, new Dictionary<string, object>() {{"onfocusout",  "sumTotalT()"}, { "style", "width:160px"},{ "id", "sum22" }})</td></tr>
                   <tr><td style="width:400px; background-color:#dbd8d8"><b>&bull; &nbsp;@Html.PTPLabel("ApplicationForm", "Administration")</b></td><td>@Html.SKFTextBoxFor(TextBoxType.TEXT, m=>m.AdministrationTotalPermanent, new Dictionary<string, object>() {{"onfocusout",  "sumTotalP()"},{ "style", "width:160px"},{ "id", "sum3" },{ "name", "sum3"}})</td><td>@Html.SKFTextBoxFor(TextBoxType.TEXT, m=>m.AdministrationTotalTemporary, new Dictionary<string, object>() {{"onfocusout",  "sumTotalT()"}, { "style", "width:160px"},{ "id", "sum33" }})</td></tr>
                   <tr><td style="width:400px; background-color:#dbd8d8"><b>&bull; &nbsp;@Html.PTPLabel("ApplicationForm", "Design")</b></td><td>@Html.SKFTextBoxFor(TextBoxType.TEXT, m=>m.DesignTotalPermanent, new Dictionary<string, object>() {{"onfocusout",  "sumTotalP()"},{ "style", "width:160px"},{ "id", "sum4" },{ "name", "sum4"}})</td><td>@Html.SKFTextBoxFor(TextBoxType.TEXT, m=>m.DesignTotalTemporary, new Dictionary<string, object>() { {"onfocusout",  "sumTotalT()"},{ "style", "width:160px"},{ "id", "sum44" }})</td></tr>
                   <tr><td style="width:400px; background-color:#dbd8d8"><b>&bull; &nbsp;@Html.PTPLabel("ApplicationForm", "Manufacturing")</b></td><td>@Html.SKFTextBoxFor(TextBoxType.TEXT, m=>m.ManufacturingTotalPermanent, new Dictionary<string, object>() {{"onfocusout",  "sumTotalP()"}, { "style", "width:160px"},{ "id", "sum5" },{ "name", "sum5"}})</td><td>@Html.SKFTextBoxFor(TextBoxType.TEXT, m=>m.ManufacturingTotalTemporary, new Dictionary<string, object>() {{"onfocusout",  "sumTotalT()"}, { "style", "width:160px"},{ "id", "sum55" }})</td></tr>
                   <tr><td style="width:400px; background-color:#dbd8d8"><b>&bull; &nbsp;@Html.PTPLabel("ApplicationForm", "Other")</b></td><td>@Html.SKFTextBoxFor(TextBoxType.TEXT, m=>m.OtherTotalPermanent, new Dictionary<string, object>() {{"onfocusout",  "sumTotalP()"}, { "style", "width:160px"},{ "id", "sum6" },{ "name", "sum6"}})<td>@Html.SKFTextBoxFor(TextBoxType.TEXT, m=>m.OtherTotalTemporary, new Dictionary<string, object>() { {"onfocusout",  "sumTotalT()"},{ "style", "width:160px"},{ "id", "sum66"}})</td></tr>

                         <tr><td style="width:400px; text-align:right"><b>@Html.PTPLabel("ApplicationForm", "Total")</b></td><td>@Html.SKFTextBoxFor(TextBoxType.TEXT, m=>m.TotalPermanent, new Dictionary<string, object>() { { "style", "width:160px;"},{ "id", "totalP" },{ "name", "totalP"}})<td>@Html.SKFTextBoxFor(TextBoxType.TEXT, m=>m.TotalTemporary, new Dictionary<string, object>() {{ "style", "width:160px"},{ "id", "totalT"}})</td></tr>

           </table>
                     
                     </td>
           </tr>*@


     <tr >
         <td>
        <table style="width:720px;border:1px solid; margin-left:45px">
        <tr>
        <td style="width:150px; background-color:#dbd8d8"><b>@Html.PTPLabel("ApplicationForm", "CategoryDescription")</b></td>
        <td style="width:150px; background-color:#dbd8d8"><b>@Html.PTPLabel("ApplicationForm", "TotalPermanent")</b></td>
        <td style="width:150px; background-color:#dbd8d8"><b>@Html.PTPLabel("ApplicationForm", "TotalTemporary")</b></td>
         </tr>
        </table>
        </td>
    </tr>
      


      <tr>
      <td colspan="2"><div id="divCategories">@Html.Partial("ApplicationCategory", Model.Categories)</div></td>
    </tr>

     <tr>
     <td>
     <table style="width:720px;border:0px solid; margin-left:45px ">
     <tr>
         <td>
       <a href="#" onclick="addCategoryPopup('@(Url.Action("AddCategoryEditor", "Home"))');"> <img src="../Content/Images/nav/plus.png" ></a><b>@Html.PTPLabel("ApplicationForm", "Add")</b>
   </td>
             </tr>
         <tr>
          <td style="width:300px; background-color:#dbd8d8; text-align:right"><b>@Html.PTPLabel("ApplicationForm", "Total")</b></td>
        <td style="width:235px; background-color:#dbd8d8">@Html.SKFTextBoxFor(TextBoxType.TEXT, m=>m.TotalPermanent, new Dictionary<string, object>() {{"id", "totalP" }, { "style", "width:220px"},{"disabled","disabled"}})</td>
        <td style="width:235px; background-color:#dbd8d8">@Html.SKFTextBoxFor(TextBoxType.TEXT, m=>m.TotalTemporary, new Dictionary<string, object>() {{"id", "totalT"}, { "style", "width:220px"},{"disabled","disabled"}})</td>
         </tr> 
         </table>
     </td>
 
    </tr>

                    </table>


 



 <table id="section5" runat="server" width="810" height="70" border="0" align="center" cellpadding="0" cellspacing="0"  style="background-color:#fff">
            <tr>
         
  
              <td>
                    <table style="width:720px;border:1px solid; margin-left:45px">
                   <tr><td style="width:400px;"><b>*@Html.PTPLabel("ApplicationForm", "Applicant")</b></td><td>@Html.SKFTextBoxFor(TextBoxType.TEXT, m=>m.Applicant, new Dictionary<string, object>() { { "id", "Applicant" },{ "style", "width:500px"}})<td></tr>
                  
                  

                  </table>
                     
                     </td>

                
           </tr>
             <tr align="center" ><td style="width:400px;"><b>  @Html.SKFButtonPrimary(ButtonType.SUBMIT,Html.PTPLabel("ApplicationForm", "btnSend"), new Dictionary<string, string>() { { "onclick", "validateCheckBox();return false;"}, { "style", " width:160px; font-size:12px; font-weight: bold;"} } )</td></tr>

                    </table>
   
    <div id="container-category" style="display:none"></div>  
    <div id="container-locact" style="display:none"></div>  

}




<script type="text/javascript">




    function yesnoCheck() {
        if (document.getElementById('yesCheck').checked) {
            document.getElementById('ifYes').style.display = 'block';
        } else {
            document.getElementById('ifYes').style.display = 'none';

        }



    }

    function validateCheckBox() {
        if ((document.getElementById('OtherIso').checked == true && document.getElementById('Other').value == "") || (document.getElementById('OtherIso_2').checked == true && document.getElementById('Other_2').value == "")) {

            var lngId = $("[name=LanguageId]").val();
            if (lngId == 1) {
                alert("Molimo navedite standard!");
            }
            else if (lngId == 2) {
                alert("Ве молиме наведете стандард!");
            }
            else if (lngId == 3) {
                alert("Molimo navedite standard!");
            }
            else {
                alert("Please state standard!");
            }

        }
        else if (document.getElementById('ISO9001').checked || document.getElementById('ISO14001').checked || document.getElementById('BSOHSAS18001').checked || document.getElementById('ISO27001').checked || document.getElementById('ISO22301').checked) {
            validateTextFields();
        }

        else {
            var lngId = $("[name=LanguageId]").val();
            if (lngId == 1) {
                alert("Morate označiti bar jedan standard!");
            }
            else if (lngId == 2) {
                alert("Марате да чекирате барем еден стандард!");
            }
            else if (lngId == 3) {
                alert("Morate naznačiti bar jedan standard!");
            }
            else {
                alert("You must check in at least one standard!");
            }
            return false;

        }

    }

    function validateTextFields() {
        var lngId = $("[name=LanguageId]").val();

        if (document.getElementById('CompanyName').value != "" && document.getElementById('Adress').value != "" && document.getElementById('Telephone').value != "" && document.getElementById('Email').value != "" && document.getElementById('Applicant').value != "") {
            submitApplicationForm();
        }
        else {

            if (lngId == 1) {
                alert("Morate popuniti obavezna polja označena zvezdicom!");
            }
            else if (lngId == 2) {
                alert("Мора да ги пополните сите потребни полиња означени со ѕвездичка!");
            }
            else if (lngId == 3) {
                alert("Morate popuniti obavezna polja označena zvjezdicom!");
            }
            else {
                alert("You must fill in the required fields marked with an asterisk!");
            }
        }
    }


    function sumTotalP() {


        var totalP = 0;
        for (var i = 0; i <= lastNumber; i++) {
            if ($('#totalPermanent_' + i).val() != " ") {
                totalP += parseInt($('#totalPermanent_' + i).val())|| 0;
            } 

            document.getElementById("totalP").value = totalP;
        }


    }

    function sumTotalT() {
        var totalT = 0;
        for (var i = 0; i <= lastNumber; i++) {
            if ($('#totalTemporary_' + i).val() != " ") {
                totalT += parseInt($('#totalTemporary_' + i).val())||0;
            }
            document.getElementById("totalT").value = totalT;
        }

    }

    addAppLocActPopup = function (actionURL) {

        var $container = $('#container-locact');

        ini.ajax.get(actionURL, null,
            function (result) {
                $container.html(result);
                showAddAppLocActPopup();
            },
            function (error) {
                showAlert('Error', error);
            }
        );

    }

    showAddAppLocActPopup = function () {
        var $container = $('#container-locact');
        $container.dialog({
            height: 200,
            width: 'auto',
            modal: true,
            position: 'center',
            closeText: "",

        });

    }

    addCategoryPopup = function (actionURL) {

        var $container = $('#container-category');

        ini.ajax.get(actionURL, null,
            function (result) {
                $container.html(result);
                showAddCategoryPopup();
            },
            function (error) {
                showAlert('Error', error);
            }
        );

    }



    showAddCategoryPopup = function () {
        var $container = $('#container-category');
        $container.dialog({
            height: 200,
            width: 900,
            modal: true,
            position: 'center',
            closeText: "",

        });

    }

    function addCategory() {
        lastNumber++;

        var text = $('#text').val();

        var tt = $('#tt').val() ;

        var tp = $('#tp').val();

        var categories = new Array();
        for (var i = 0; i <= lastNumber; i++) {
            var c = {};
            c.category = $('#category_' + i).val();
           
            c.TotalPermanent = $('#totalPermanent_' + i).val();
            c.TotalTemporary = $('#totalTemporary_' + i).val();

            categories.push(c);
        }

        ini.ajax.post('@(Url.Action("AddCategory", "Home"))', ini.ajax.contentType.Json, { text: text, tt: tt, tp: tp, categories: categories },
         function (result) {
             $('#container-category').dialog('close');
             $('#divCategories').html(result);
             sumTotalP();
             sumTotalT();
             // $('#divCategories').append(result);
         },
        function (error) {

        });
    }


    function addLocationActivity() {

        lenth++;


        var l = $('#loc').val();
        var a = $('#act').val();

        var locAct = new Array();
        for (var i = 0; i <= lenth; i++) {
            var al = {};
            al.location = $("#location_" + i).val();
            al.activity = $("#activity_" + i).val();

            locAct.push(al);
        }


        ini.ajax.post('@(Url.Action("AddLocationActivity", "Home"))', ini.ajax.contentType.Json, { location: l, activity: a, locAct: locAct },
        function (result) {
            $('#container-locact').dialog('close');
            $('#divLocationActivites').html(result);
        },
       function (error) {

       });

    }



    function NumberOnly() {

        var lngId = $("[name=LanguageId]").val();
        var AsciiValue = event.keyCode
        if ((AsciiValue >= 48 && AsciiValue <= 57) || (AsciiValue == 8 || AsciiValue == 127)) {

            return true;
        }

        else {
          
            

            if (lngId == 1) {
                alert("Morate uneti broj!");
            }
            else if (lngId == 2) {
                alert("Мора да внесете број!");
            }
            else if (lngId == 3) {
                alert("Morate unijeti broj!");
            }
            else {
                alert("You must enter a number!");
            }
            return false;
        }
    }




</script>  
   