@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="col-sm-12">
     @Html.Raw(Html.INIGroupLabel("About","lbl1"))
@*    <h2>Ko smo mi</h2>*@
    <div class="col-sm-8">
        <div class="row mbottom">
            @Html.Raw(Html.INIGroupLabel("About","lbl2"))
           @* <img class="img-responsive " src="/INIGroup/Content/cms_images/abt.png" alt="abt.png" />*@
        </div>

        <div class="row">
             @Html.Raw(Html.INIGroupLabel("About","lbl3"))
            @* <h3 class="blueH">Poslovodstvo</h3>
            <div class="col-sm-9">
            <p><b>Viktor Pocajt</b></p>
            <p>Vlasnik i direktor preduzeća. Diplomirao na Mašinskom i Tehnološko-metalurškom fakultetu,
                magistrirao na Fakultetu organizacionih nauka i doktorirao na Tehnološko-metalurškom fakultetu. 
                Više od 20 godina iskustva u metalnoj industriji, istraživanju, IT razvoju i konsaltingu. 
                Profesor na Tehnološko-metalurškom fakultetu u Beogradu. 

            </p>      
            <p><b>Ivan Pocajt</b></p>
            <p>Izvršni direktor, vodi operativni rad i aktivnosti sertifikacije. 
                Ekonomista, više od 15 godina iskustva u međunarodnom poslovanju, 
                prodaji i distribuciji.  </p>
            <p><b>Zoran  Vragolović</b></p>
            <p>IT menadžer. Diplomirani elektro inženjer. 
                Više od 16 godina iskustva u razvoju softverskih sistema u Windows i Web okruženju. 
                Vodi razvoj softvera.  </p>
            
            </div>*@
            
        </div>

    </div>

    <div class="col-sm-4 ">
        <div class="row">
           
            <div class="panel panel-default">
                @Html.Raw(Html.INIGroupLabel("About", "lbl4"))
                @*<div id="blue" class="panel-heading text-center panel-custum">Misija</div>
                <div class="panel-body font12">
                    <p>
                        Misija INI Grupe je razvoj i isporuka 
                                inovativnih Web-zasnovanih aplikacija 
                                i rešenja za nastajući globalni 
                                e-Engineering sektor
                    </p>
                    <ul class="list-unstyled">
                        <li>&rsaquo;&nbsp;&nbsp;u internacionalnom, multijezičkom i multikulturnom okruženju</li>
                        <li>&rsaquo;&nbsp;&nbsp;prema najvišim svetskim standardima</li>
                        <li>&rsaquo;&nbsp;&nbsp;sa najvećom brigom za potreba naših kupaca.</li>
                    </ul>
                </div>*@



            </div>
            </div>
        <div class="row">
            <div class="panel panel-default">
                @Html.Raw(Html.INIGroupLabel("About", "lbl5"))
       @*         <div id="yellow" class="panel-heading text-center panel-custum">Vizija</div>
                <div class="panel-body font12">
                    <p>
                        Naša vizija je da:
                    </p>
                    <ul class="list-unstyled">
                        <li>&rsaquo;&nbsp;&nbsp;Koristimo naše kompetencije da ponudimo Web aplikacije 
                                    vrhunskog kvaliteta industriji širom sveta preko naših partnera u Evropi, Americi i Aziji.

                        </li>
                    </ul>
                </div>*@
            </div>
        </div>        
        </div>
                        
    </div>











































@*
<div class="col-sm-12 col-sm-push-1">
<h2>Ko smo mi</h2>
 <div class="midSec  left">
      <div class="CQTextBox">
            <div class="AbtImg0">
             </div>
            <p>
                Mi smo pouzdana i inovativna kompanija, 
                specijalizovana za razvoj softvera za međunarodnu industriju. 
                Kompanija je privatna, nezavisna i konstantno profitablna od 2000-te, 
                bez eksternog finansiranja i kredita. Kroz postojani organski rast 
                od preko 50% godišnje, razvili smo snažnu mrežu partnerau Evropi, 
                Americi i Aziji. Na taj način, INI predstavlja model globalne mikrokorporacije 21. veka.
            </p>
            <div class="CQBorder">
            </div>
        </div>
        <div class="cntinfo">
            <h3>Poslovodstvo</h3>
            <p><b>Viktor Pocajt</b></p>
            <p>Vlasnik i direktor preduzeća. Diplomirao na Mašinskom i Tehnološko-metalurškom fakultetu,
                magistrirao na Fakultetu organizacionih nauka i doktorirao na Tehnološko-metalurškom fakultetu. 
                Više od 20 godina iskustva u metalnoj industriji, istraživanju, IT razvoju i konsaltingu. 
                Profesor na Tehnološko-metalurškom fakultetu u Beogradu. </p>
            <p><b>Ivan Pocajt</b></p>
            <p>Izvršni direktor, vodi operativni rad i aktivnosti sertifikacije. 
                Ekonomista, više od 15 godina iskustva u međunarodnom poslovanju, 
                prodaji i distribuciji.  </p>
            <p><b>Zoran Vragolovic</b></p>
            <p>IT menadžer. Diplomirani elektro inženjer. 
                Više od 16 godina iskustva u razvoju softverskih sistema u Windows i Web okruženju. 
                Vodi razvoj softvera.  </p>
          </div>
        </div>
        <div class="navSec  left">
             

            <div class="abtmss">
            </div>
            <div class="abtSideBox">
            
            <p>Misija INI Grupe je razvoj i isporuka 
                inovativnih Web-zasnovanih aplikacija 
                i rešenja za nastajući globalni 
                e-Engineering sektor
            </p>
           
                <ul>
                    <li>&rsaquo;&nbsp;&nbsp;u internacionalnom, multijezičkom i multikulturnom okruženju</li>
                    <li>&rsaquo;&nbsp;&nbsp;prema najvišim svetskim standardima</li>
                    <li>&rsaquo;&nbsp;&nbsp;sa najvećom brigom za potreba naših kupaca.</li>
               </ul>
            </div>
            <div class="linksBottom">
            </div>
        </div>
    </div>*@