@{
    ViewBag.Title = "App examples";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="col-sm-12">
   @Html.Raw(Html.INIGroupLabel("App_examples","lbl1"))
   @*<h2> Application examples</h2>*@
    <div class="col-sm-8">
        <div class="row mbottom">
            @Html.Raw(Html.INIGroupLabel("App_examples","lbl2"))
            @*<img class="img-responsive " src="/INIGroup/Content/cms_images/app_ex.png" alt="app_ex.png" />*@
        </div>
         @Html.Raw(Html.INIGroupLabel("App_examples","lbl3"))
@*        <div class="row">
            <div class="col-sm-9">
            
            <p>
                <b>Industrial B2B search engines</b> <br />
Multifunctional and multilingual search engines for specific industrial niches, as large as hundreds of thousands of products and, bundled with B2B ordering systems. Find out how we did it in SFK Power Transmission Catalogue for with 27000 items, 20 languages. 
</p> 
            </div>
        </div>
<div class="row">
            <div class="col-sm-9">
            
            <p>
                <b>B2D</b> <br />
Distributor community building, with specialized search engines and mono- and multibrand Web sites, powered by dedicated Content Management System and B2B workflow with distributors. 
. 
</p> 
            </div>
        </div>
<div class="row">
            <div class="col-sm-9">
            
            <p>
                <b>Product Information Management</b> <br />
Product information management workflow, multilingual and multicurrency, with flexible on-demand sales catalogue generation, directly from the Web. Ideal for managing medium to large product lines, on international market. 
. 
</p> 
            </div>
        </div>
<div class="row">
            <div class="col-sm-9">
            
            <p>
                <b>X-Ref</b> <br />
Putting all your competitors’ products from the market, with their prices and properties into one searchable database, and cross-referencing them to each other. A killer application for supporting your sales force against competition. 
. 
</p> 
            </div>
        </div>

<div class="row">
            <div class="col-sm-9">
            
            <p>
                <b>Specialized Web Market Surveys</b> <br />
Find out what customers and distributors think about your company, products and services, easier and faster than ever before. Check out how SKF did it with over 25000 interviewees in 24 languages within SKF Customer Satisfaction Survey 2006. 

. 
</p> 
            </div>
        </div>
<div class="row">
            <div class="col-sm-9">
            
            <p>
                <b>Cross-Sell</b> <br />
Cross-referencing your products with each other, in clusters where they can be easily sold together (a nice tie with a shirt, a bearing and a spanner), thereby giving your sales force and distributors ultimate tools for boosting sales. 
 

. 
</p> 
            </div>
        </div>
<div class="row">
            <div class="col-sm-9">
            
            <p>
                <b>Kitting</b> <br />
Equipment kitting and mapping helps you to create virtual product kits conforming to your customers needs, this way further up-selling your products.
 

. 
</p> 
            </div>
        </div>*@

    </div>

    <div class="col-sm-4 ">
        <div class="row">
           
            <div class="panel panel-default">
         @Html.Raw(Html.INIGroupLabel("E_engeniring", "lbl4"))
                @*<div id="blue" class="panel-heading text-center panel-custum">Related links</div>
                <div class="panel-body font12">
                   
                    <ul id="basic">
                        <li><a href="/INIGroup/Home/CaseStudies">Read more details about real-life projects</a></li>
                        <li> <a href="/INIGroup/Home/Contact">What our customers said about working with us</a></li>
                    </ul>
                </div>*@



            </div>
            </div>
        <div class="row">
            <div class="panel panel-default">
               @Html.Raw(Html.INIGroupLabel("E_engeniring", "lbl5"))
                @*<div id="yellow" class="panel-heading text-center panel-custum">Testemonials</div>
                <div class="panel-body font12">
                    <p>
                      INI has proven to be a good partner when it comes to the outline of projects, high quality and speed on implementation, and flexibility on improvements and amendments. 

                    </p>
                    <p>We have chosen them for some of our critical targets and accomplished boosting new businesses. 
</p>
                    
                    <p>Daniel Barros<br> 
                        Marketing Manager Europe <br />
                        SKF, Sweden
                    </p>*@
                </div>
            </div>
        </div>        
        </div>
                        
    </div>





