@{
    ViewBag.Title = "e-Engeniring";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-sm-12">
    @Html.Raw(Html.INIGroupLabel("E_engeniring", "lbl1"))
    @*<h2>e-Engeniring</h2>*@
    <div class="col-sm-8">
        <div class="row mbottom">
            @Html.Raw(Html.INIGroupLabel("E_engeniring", "lbl2"))
            @*<img class="img-responsive " src="/INIGroup/Content/cms_images/e_eng_en.png" alt="e_eng_en.png" />*@
        </div>
        <div class="row">
            <div class="col-sm-9">
            @Html.Raw(Html.INIGroupLabel("E_engeniring", "lbl3"))
                @*<p>
                    Your business can be engineering, R&D, manufacturing, metal fabrication, international trade and distribution, or other industry. 
Your company can be big, mid-sized or small… 
                </p>
                <p>
                    In any of these cases, we will develop, install and deploy 
Web-ready applications for:
                </p>
                <ul id="basic">
                    <li><b>Faster, easier and more successful e-business</b> with your existing and new partners within your industry (business-to-business, B2B)</li>
                    <li><b>Managing and leveraging your distributors network</b>, making it more efficient and sales-effective (business-to-distributor, B2D)</li>
                    <li><b>Managing information about your products</b>, , in different languages, forms and media, from Web to desktop to paper catalogues</li>
                    <li><b>Empowering your sales force</b>, and providing them with a toolbox which will help them boost your sales.</li>
                </ul>

                <p><b>The unique benefit for you</b> then comes onto the scene -- we can take over the burden from you of <b>sorting out your technical and marketing data</b>, this way giving your engineers and sales force more time and focus on more creative and effective work. Our group of data processing professionals specialized in powering biggest engineering databases worldwide will do it for you in an exceptionally effective, meticulous and precise manner. </p>
                <p>And we will not stop there. We will take complete care of your success: we will <b>host your applications</b> on our <a href="/INIGroup/Home/Infrastructure">premium-class Internet infrastructure</a>, <b>maintain them for you</b> and further <b>upgrade them</b> to keep you constantly on the leading edge. </p>


                <p>You will benefit from <b>e-Engineering</b> in many ways. <a href="/INIGroup/Home/Benefit">Click here to discover more about benefits for you</a> or find out more details in <a href="/INIGroup/Home/App_examples">Application examples</a> and <a href="/INIGroup/Home/CaseStudies">Case studies</a>.</p>*@

            </div>
        </div>
    </div>
    <div class="col-sm-4 ">
        <div class="row">
            <div class="panel panel-default">
                 @Html.Raw(Html.INIGroupLabel("E_engeniring", "lbl4"))
                @*<div id="blue" class="panel-heading text-center panel-custum">Related links</div>
                <div class="panel-body font12">

                    <ul id="basic">
                        <li><a href="/INIGroup/Home/Benefit">Find out more about benefits you get</a></li>
                        <li><a href="/INIGroup/Home/CaseStudies">Discover how we did it in real life projects</a></li>
                    </ul>
                </div>*@
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">


                @Html.Raw(Html.INIGroupLabel("E_engeniring", "lbl5"))
                
            @*    <div id="yellow" class="panel-heading text-center panel-custum">Testemonials</div>
                <div class="panel-body font12">
                    <p>
                        We have chosen them for some of our critical targets and accomplished to boost new businesses

                    </p>

                    <p>
                        Daniel Barros<br>
                        Marketing Manager Europe
                        <br />
                        SKF, Sweden
                    </p>
                </div>*@
            </div>
        </div>
    </div>

</div>











































