@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div  @*style="margin:47px 0 0 400px;overflow:hidden;width:1200px;"*@>
    <div>
        @Html.Raw(Html.INIGroupLabel("Index","lblSolutionImg"))
        @*<div style="float:left;  margin-right:10px">
            <img class="img" src="~/Content/cms_images/resenje.jpg" alt="solutions" />
        </div>*@
        <div style="float:left;width:300px;font-size:13px; word-wrap: break-word;">
            @Html.Raw(Html.INIGroupLabel("Index","lblNews1"))
           @* <div>
                <img src="~/Content/nav/news_rs.gif" alt="news" style="width:350px" />
               <p style="text-align:left;">
                   <a href="#">Nova INI vrhunska internet infrastruktura</a><br>
                    Pored šestostruko redudantnog pristupa preko Tier 1 globalnih provajdera i 100% dostupnosti, 
                   nova infrastruktura omogućava našim kupcima izuzetne performanse i siguran rad, 
                   i u uslovima vanrednih situacija, kroz našu bezbednu superstrukturu.
               </p>
          </div>*@
             @Html.Raw(Html.INIGroupLabel("Index","lblNews2"))
            @*<div>
               <p>
                  <a href="#">INI u vrhunskom razvojnom projektu EU</a><br>    
                Kao jedno od malog broja preduzeća iz regiona, INI učestvuje u vrhunskom razvojnom projektu iz šeme FP7 Evropske Unije.
               </p>
          </div>*@
        </div>
    </div>
    <div style="clear:both;"></div>
    <div>

     @Html.Raw(Html.INIGroupLabel("Index","lblFocusLink1"))
    @*<div style="border:solid red 1px;float:left; width:auto;">
        <a href="#" id="linkBox">
        <div>
            <img src="~/Content/cms_images/fokus_na_kompetenciji.jpg" alt="Alternate Text" />
        </div>
        <div style="width:200px;">
            <p>
                Mnoge od vodećih svetskih kompanija spadaju u naše klijente. Biće nam zadovoljstvo da i Vama ponudimo vrhunska rešenja, kvalitet i kompetenciju, 
                koji su ove korporacije opredelili za nas. I da iskustva i znanja stečena u saradnji sa svetskim liderima prenesemo i Vama, u zajedničkom radu. 
            </p>
        </div>
    </a>*@
    </div>
    @Html.Raw(Html.INIGroupLabel("Index","lblFocusLink2"))
    @*<div style="border:solid red 1px;float:left; width:auto;">
        <a href="#" id="linkBox">
        <div>
            <img src="~/img/fokus_na_vasim_potrebama.jpg" alt="potrebe" />
        </div>
        <div style="width:200px;">
            <p>
                Mnoge od vodećih svetskih kompanija spadaju u naše klijente. Biće nam zadovoljstvo da i Vama ponudimo vrhunska rešenja, kvalitet i kompetenciju, 
                koji su ove korporacije opredelili za nas. I da iskustva i znanja stečena u saradnji sa svetskim liderima prenesemo i Vama, u zajedničkom radu. 
            </p>
        </div>
       </a>
    </div>*@
    <div style="border:solid red 1px;float:left; width:auto;">
        <a href="#" id="linkBox" >
        <div>
            <img src="~/img/fokus_na_kvalitetu.jpg" alt="kompetencija" />
        </div>
        <div style="width:200px;">
            <p>
                Mi radimo sa svim vrstama kompanija — od svetskih giganata Fortune 500, preko velikih, srednjih i malih, do mikro. 
                Oni su došli u INI raznim putevima i iz različitih razloga,
                ali ostaju sa nama pre svega zbog jednog: mi im dajemo vrhunski tretman od prvog dana i nikada ne prestajemo.
           </p>
        </div>
       </a>
    </div>
  </div>  

   

