@{
    ViewBag.Title = "Infrastructure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="col-sm-12">
    @Html.Raw(Html.INIGroupLabel("Infrastructure", "lbl1"))
@*    <h2>Infrastructure</h2>*@
    <div class="col-sm-8">
        <div class="row mbottom">
             @Html.Raw(Html.INIGroupLabel("Infrastructure", "lbl2"))
            @*<img class="img-responsive " src="/INIGroup/Content/cms_images/infrastructure.png" alt="infrastructure.png" />*@
        </div>

        @Html.Raw(Html.INIGroupLabel("Infrastructure", "lbl3"))
        @*<div class="row">
            <div class="col-sm-9">
                <h4>Highest Server Performance and Security</h4>
                <ul id="basic" class="font12">
                    <li><b>Top quality dedicated servers.</b>
                        <br />
                        Your applications and data are hosted on dedicated servers at a top quality internet service provider (rated in the Top 5 worldwide according to Gartner Report for 2006) with a                        7Gbps connection to the data centre and 100% uptime guarantee.
                    </li>
                    <li><b>6x redundant access for ultimate availability. </b>
                        <br />
                        Three levels of Uninterruptible Power Supply, a dual backup power generator, redundant processors and 6x redundant access to the Internet through Tier 1 global providers.                          </li>
                    <li><b>Turn key system that works for you.</b><br />
                        We will take care of automatic operating system updates, critical patching, database updates and additional administration. 

                    </li>
                    <li><b>Dedicated security equipment.</b><br />
                        Dedicated Cisco hardware firewall, managed by Cisco technicians and increased port monitoring for higher security of your data.
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <h4>Full Attention for Youy</h4>
                <ul id="basic" class="font12">
                    <li><b>Dedicated service team.</b>
                        <br />
                        Account manager who is taking care of your needs.
                    </li>
                    <li><b>Single point of contact. </b>
                        <br />
                        No call centers no call waiting.                         
                    </li>

                </ul>
            </div>
        </div>*@
        @Html.Raw(Html.INIGroupLabel("Infrastructure", "lbl4"))
      @*  <div class="row">
            <div class="col-sm-9">
                <h4>Superstructure for Accelerated Speed and Unbeatable Reliability</h4>
                <ul id="basic" class="font12">
                    <li><b>Acceleration of 20 to 140% in response time of your applications. </b>
                        <br />
                        All DNS requests are directed to and processed by the topologically closest server, ensuring the fastest DNS name resolution times.
                    </li>
                    <li><b>Global mesh of replicated, fail-safe network </b>
                        <br />
                        enables us to provide you with Advanced Anycast Routing Technology which ensures fast and reliable DNS Connections..                         
                    </li>
                    <li><b>You are safe even in case of unthinkable disasters.</b>
                        <br />
                        Back-ups are physically stored in a different location – other continent – from the production site, and are powered by methodology which ensures 100% failover capabilities.                        </li>
                </ul>
            </div>
        </div>*@
    </div>
        <div class="col-sm-4 ">
        <div class="row">
            <div class="panel panel-default">
                @Html.Raw(Html.INIGroupLabel("Infrastructure", "lbl5"))
                @*<div id="blue" class="panel-heading text-center panel-custum">Related links</div>
                <div class="panel-body font12">
                    <ul id="basic">
                        <li><a href="/INIGroup/Home/Customers">Let the competence and experience that we gained with global leaders work for you Check out our customer list.</a></li>
                        <li><a href="/INIGroup/Home/Testimoni">What our customers said about working with us</a></li>
                    </ul>
                </div>
            </div>*@

        </div>
        <div class="row">
            <div class="panel panel-default">
               @Html.Raw(Html.INIGroupLabel("Infrastructure", "lbl6"))
               @*  <div id="yellow" class="panel-heading text-center panel-custum">Testemonials</div>
                <div class="panel-body font12">
                    <p>
                        INI has proven to be a good partner when it comes to the outline of projects, high quality and speed on implementation, and flexibility on improvements and amendments. 
                    </p>
                    <p>
                        We have chosen them for some of our critical targets and accomplished boosting new businesses. 
                    </p>
                    <p>
                        Daniel Barros<br>
                        Marketing Manager Europe
                        <br />
                        SKF, Sweden
                    </p>
                </div>
            *@</div>
        </div>
    </div>

</div>