@{
    ViewBag.Title = "Quality";
    Layout = "~/Views/Shared/_Layout.cshtml";
}







  <div class="col-sm-12">
      @Html.Raw(Html.INIGroupLabel("Quality","lbl5"))
      @*<h2>Kvalitet</h2>*@
      
      <div class="col-sm-8" >
          <div class="row">
              @Html.Raw(Html.INIGroupLabel("Quality","lbl1"))
           @* <img class="img-responsive"  src="/INIGroup/Content/cms_images/qlt.png" alt="qlt.png" />*@
          </div>
          <div class="row">
              <div class="col-sm-9">
                  @Html.Raw(Html.INIGroupLabel("Quality","lbl2"))
             @* <h3>Politika kvaliteta</h3>
              <p><b> Prioritet</b><br>
                Naši kupci zahtevaju proizvode i usluge visokog kvaliteta. 
                Naša odgovornost je da im pružimo ono što traže. Ukoliko su zahtevi kupca nejasni, 
                na nama je da dođemo do boljeg razumevanja njihovih potreba i zahteva. 
                Ukoliko se desi da neki od zahteva ne ispunimo, moramo odrediti gde je došlo do 
                greške i obezbediti da se to više ne ponovi.
            </p>*@
                  @Html.Raw(Html.INIGroupLabel("Quality","lbl3"))
                  @*<p>
                      <b>Ciljevi</b><br>
                      Osnovni ciljevi našeg sistema kvaliteta vezani su za razvoj i isporuku visokokvalitetnih 
                      proizvoda i usluga, na vreme i sa najmanjim troškovima. Postizanje ovih ciljeva vodi 
                      ispunjenju i premašivanju želja i očekivanja kupaca, što je naš glavni zadatak, kome
                       treba da budu podređene sve aktivnosti zaposlenih i saradnika. 
                  </p>
            <p>
          <b>Opredeljenje</b><br>
            Da bismo postigli ove ciljeve, opredeljeni smo da permanentno unapređujemo kvalitet kroz: 
        </p>
              <ul>
                <li>stalno unapređenje odnosa sa kupcem, uz agresivni razvoj svih vidova podrške kupcima,</li>
                <li>stalni razvoj i usavršavanje proizvoda i usluga, u potpunosti usaglašen sa željama i potrebama kupaca</li>
                <li>negovanje profesionalnih odnosa sa kupcima i podisporučiocima</li>
                <li>stvaranje uslova i ambijenta za kreativan i timski rad</li>
                <li>stalno usavršavanje i podizanje stručnosti i znanja</li>
                <li>obavezno uključenje svih zaposlenih i saradnika u ostvarivanje utvrđenih ciljeva i unapređenje sistema.</li>
            </ul>
        <p>
          Kvalitet nikad ne sme biti podređen smanjivanju troškova i skraćivanju rokova. 
          Svaki zaposleni i saradnik ima pravo i obavezu da preispita one odluke 
         i akcije nadređenih za koje smatra da vode smanjenju 
            nivoa kvaliteta naših proizvoda i usluga.
        </p> *@
        </div>

          </div>
      </div>
      <div class="col-sm-4">

        <div class="panel panel-default">
            @Html.Raw(Html.INIGroupLabel("Quality","lbl4"))
            @*<div class="panel-heading text-center" id="yellow">Sertifikovani kvalitet</div>
            <div class="panel-body center-block font11">
                <div class="row">
                    <div class="col-sm-12  text-center">
                <p><b>Nemački sertifikati 
                za visok kvalitet 
                poslovnih procesa
           </b></p>
                <p>
                Za visok kvalitet poslovnih i razvojnih procesa, 
                koji je usklađen sa internacionalnom serijom standarda 
                EN ISO 9001:2008, naša kompanija je dobila sertifikat 
                nemačkog ocenjivačkog tela TÜV CERT iz Esena. 
            </p>
                        </div>
                    </div>
              <div class="row mbottom">
                  <div class="col-sm-12">
                    <img class="img-responsive center-block" src="/INIGroup/Content/cms_images/cert1.jpg" alt="cert1.jpg" />
                  </div>
              </div>
           
               <div class="row mbottom">
                  <div class="col-sm-12">
                    <img class="img-responsive center-block" src="/INIGroup/Content/cms_images/cert2.jpg" alt="cert1.jpg" />
                  </div>
              </div>
                <div class="row mbottom">
                  <div class="col-sm-12  text-center ">
                    <p>
           ISO 9001:2008 se odnosi na kvalitet:
           
        </p>
         <ul class="list-unstyled">
                <li>Rešenja za elektronsko poslovanje</li>
                <li>Web servise</li>
                <li>Razvoj softvera</li>
                <li>Obuku i obrazovanje</li>
            </ul>
                  </div>
              </div>
              </div>*@
            </div> 

        </div>
      </div>
  </div>



