<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @using INIGroup.AppLogic.Caching
    @using INIGroup.Helpers

   @* @Styles.Render("~/Content/css")*@
   @* @Scripts.Render("~/bundles/modernizr")*@
    <script src="@Url.Content("~/Scripts/jquery-1.12.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")" type="text/javascript"></script>
     <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/custum.css")" rel="stylesheet" type="text/css" />

       <script type="text/javascript">
           function ChangeLang(LanguageId) {
               $.post('@(Url.Action("ChangeLanguage", "Home"))', { languageId: LanguageId }, function (result) {
                   if (result.success) {
                       window.location = '@Url.Action("Index","Home")';
                   }
               });
           }
       </script>
</head>
<body>
    <div class="container">
     
        <div class="raw">
            <a href="@Url.Action("Index","Home")">
 <img src="~/Content/cms_images/SAB_631_74_1.jpg" alt="logo" />
                </a>                 
 <nav class="navbar navbar-default navbar-custum">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
     @* <div class="col-sm-8 col-sm-offset-2">*@  <!-- Navigacija centriranje-->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="@Url.Action("Index","Home")"><span class="glyphicon glyphicon-home"></span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav ">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Html.INIGroupLabel("_Layout","lbl1")<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="@Url.Action("Benefit","Home")">@Html.INIGroupLabel("_Layout","lbl2")</a></li>
               @if((int)HttpContext.Current.Session["LngId"]==6 ){
            <li><a href="@Url.Action("Apps","Home")">@Html.INIGroupLabel("_Layout","lblrs")</a></li>
            <li><a href="@Url.Action("Intranet","Home")">@Html.INIGroupLabel("_Layout","lblrs1")</a></li>
               }
               else
               {
                    <li><a href="@Url.Action("E_engeniring","Home")">@Html.INIGroupLabel("_Layout","lbl3")</a></li>
                    <li><a href="@Url.Action("App_examples","Home")">@Html.INIGroupLabel("_Layout","lbl4")</a></li>
                    <li><a href="@Url.Action("Infrastructure","Home")">@Html.INIGroupLabel("_Layout","lbl5")</a></li>
               }
              
          </ul>
        </li>
      </ul>
        @if ((int)HttpContext.Current.Session["LngId"] == 6)
        {
        <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usluge<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="@Url.Action("isoCert", "Home")">ISO Sertifikacija</a></li>
            <li><a href="@Url.Action("Education", "Home")">Obuka i prenos znanja</a></li>
          </ul>
        </li>
      </ul>
        }
        <ul class="nav navbar-nav">
             
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Html.INIGroupLabel("_Layout","lbl6")<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="@Url.Action("Customers", "Home")">@Html.INIGroupLabel("_Layout","lbl7")</a></li>
            <li><a href="@Url.Action("Testimoni", "Home")">@Html.INIGroupLabel("_Layout","lbl8")</a></li>
            <li><a href="@Url.Action("CaseStudies", "Home")">@Html.INIGroupLabel("_Layout","lbl9")</a></li>
          </ul>
        </li>
      </ul>
        <ul class="nav navbar-nav justified">
            @if ((int)HttpContext.Current.Session["lngId"] == 6)
            {
            <li><a href="@Url.Action("News", "Home")">Novosti</a></li>
            }
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Html.INIGroupLabel("_Layout","lbl10")<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="@Url.Action("About", "Home")">@Html.INIGroupLabel("_Layout","lbl11")</a></li>
            <li><a href="@Url.Action("Quality", "Home")">@Html.INIGroupLabel("_Layout","lbl13")</a></li>
            <li><a href="@Url.Action("Contact", "Home")">@Html.INIGroupLabel("_Layout","lbl12")</a></li>
          </ul>
        </li>
      </ul>
         
        <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Language<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a onclick="ChangeLang(1);">English</a></li>
            <li><a onclick="ChangeLang(2);">Español</a></li>
            <li><a onclick="ChangeLang(3);">Deutsch</a></li>
            <li><a onclick="ChangeLang(4);">Italiano</a></li>
            <li><a onclick="ChangeLang(5);">Francais</a></li>
            <li><a onclick="ChangeLang(6);">Srpski</a></li>
          </ul>
        </li>
      </ul>
     </div>

 
  </div><!-- /.container-fluid -->
</nav>
  </div>   
     <div class="row"> 
             
               @RenderBody()
    </div>

  </div><!-- /.container --> 
 @*</div>*@
    <footer class="footer" style="padding-top: 60px;">
        <div class="container">
            <hr />
            <p class="text-muted">Copyright © 2017 INI Group. All rights reserved.  </p>
           
        </div>  
        </footer>

</body>
</html>

  