<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @using INIGroup.AppLogic.Caching
    @using INIGroup.Helpers

   @* @Styles.Render("~/Content/css")*@
   @* @Scripts.Render("~/bundles/modernizr")*@
    <script src="@Url.Content("~/Scripts/jquery-1.12.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")" type="text/javascript"></script>
     <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/metisMenu.css")" rel="stylesheet" type="text/css" />
    @*<script src="@Url.Content("~/Scripts/metisMenu.js")" type="text/javascript"></script>*@
    <link href="@Url.Content("~/Content/custum.css")" rel="stylesheet" type="text/css" />

       <script type="text/javascript">
           //$(document).ready(function () {
           //    $('#side-menu').metisMenu();
           //});
    </script>

</head>
<body>
    <div style="margin:5px 5px 5px 5px; /*height:900px;*/">
 <div id="wrapper" style="background-color:#f8f8f8;z-index: 999;position: relative;">
         <nav class="navbar navbar-top navbar-static-top" role="navigation" style="margin-bottom: 0; height:62px">
            <div @*class="navbar-header"*@>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              <a id="" href="@Url.Action("Index", "Home")"></a><span id="appname" style="line-height:64px;"></span><span style="float: right;  line-height: 65px;
    color: White; font-size: 22px;">  </span>
                 
                
                
            </div>
             
             @* <span style="float: right; line-height: 30px;
                    margin-right: 10px; color: White;padding-top: 5px;">

              
 

              </span>*@
        


     
         <div class="navbar-default sidebar role="navigation" style="width:200px;">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav in" id="side-menu" >
                  @*      <li class="sidebar-search" style="height:50px">
                            <div class="input-group custom-search-form">
                          
                           
                            </div>
                        </li>*@
                <li><a href="@Url.Action("Index", "Home")" style="font-size:15px;">&nbsp; &nbsp;<label style="font-family:Arial;font-size:14px">HOME</label></a></li>
 
                <li id="levelOne"><a href="#">Softverska rešenja</a>
                    <ul class="nav nav-second-level">
                        <li><a href="#">Pogodnosti za vas</a></li>
                        <li><a href="#">Web aplikacije</a></li>
                        <li><a href="#">Intranet platforma</a></li>
                    </ul>
                </li>  
                <li  id="levelOne"><a href="#">Usluge</a>
                   <ul class="nav nav-second-level">
                        <li><a href="#">ISO Sertifikacija</a></li>
                        <li><a href="#">Obuka i prenos znanja</a></li>
                    </ul>
                </li> 
                    <li  id="levelOne"><a href="#">Kupci</a>
                    <ul class="nav nav-second-level">
                        <li><a href="#">Lista kupaca</a></li>
                        <li><a href="#">Utisci kupaca</a></li>
                        <li><a href="#">Primeri projekata</a></li>
                    </ul>
                </li>
                 <li  id="levelOne"><a href="#">Novosti</a></li>       
                 <li  id="levelOne"><a href="#">O nama</a>
                    <ul class="nav nav-second-level">
                        <li><a href="@Url.Action("About", "Home")">Ko smo mi</a></li>
                        <li><a href="@Url.Action("Quality", "Home")">Kvalitet</a></li>
                        <li><a href="@Url.Action("Contact", "Home")">Kontakt</a></li>
                    </ul>
            </ul>
            </div>  
          </div>

         </nav>
       </div>
     
         <div id="page-wrapper" class="green"@* style="background-color:#e1e1e1;*@">

   
             
               @RenderBody()
             


             </div>
        </div>
              
        
@*    <iframe id="download" frameborder="0" width="1" height="1" />*@
</div>


      
 
</body>
</html>

  