<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @using INIGroup.AppLogic.Caching
    @using INIGroup.Helpers

   @* @Styles.Render("~/Content/css")*@
   @* @Scripts.Render("~/bundles/modernizr")*@
    <script src="@Url.Content("~/Scripts/jquery-1.12.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")" type="text/javascript"></script>
     <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/custum.css")" rel="stylesheet" type="text/css" />

       

</head>
<body>
    <div class="container">
        <div class="raw">
 <img src="~/Content/cms_images/SAB_631_74_1.jpg" alt="logo" />                 
 <nav class="navbar navbar-default navbar-custum">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
     @* <div class="col-sm-8 col-sm-offset-2">*@  <!-- Navigacija centriranje-->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="@Url.Action("Index","Home")"><span class="glyphicon glyphicon-home"></span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Softverska rešenja<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Pogodnosti za vas</a></li>
            <li><a href="#">Web aplikacije</a></li>
            <li><a href="#">Intranet platforma</a></li>
          </ul>
        </li>
      </ul>
        <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usluge<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">ISO Sertifikacija</a></li>
            <li><a href="#">Obuka i prenos znanja</a></li>
          </ul>
        </li>
      </ul>
        <ul class="nav navbar-nav">
             
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Kupci<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Lista kupaca</a></li>
            <li><a href="#">Utisci kupaca</a></li>
            <li><a href="#">Primeri projekta</a></li>
          </ul>
        </li>
      </ul>
        <ul class="nav navbar-nav justified">
            <li><a href="@Url.Action("News","Home")">Novosti</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">O nama<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="@Url.Action("About","Home")">Ko smo mi</a></li>
            <li><a href="@Url.Action("Quality","Home")">Kvalitet</a></li>
            <li><a href="@Url.Action("Contact","Home")">Kontakt</a></li>
          </ul>
        </li>
      </ul>
         
        <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Language<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">English<span></span></a></li>
            <li><a href="#">Español</a></li>
            <li><a href="#">Deutsch</a></li>
            <li><a href="#">Italiano</a></li>
            <li><a href="#">Francais</a></li>
            <li><a href="#">Srpski</a></li>
          </ul>
        </li>
      </ul>
     </div>

  @*</div>*@  <!-- Navigacija centriranje-->
  </div><!-- /.container-fluid -->
</nav>
  </div>   
     <div class="row"> 
             
               @RenderBody()
    </div>

  
 </div><!-- /.container --> 
</body>
</html>

  